Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyodbc in c:\users\radwa.abdallah\appdata\roaming\python\python312\site-packages (5.1.0)

In [8]:
pip install polars 
pip install flask_sqlalchemy
from flask_sqlalchemy import SQLAlchemy
pip install pyodbc
import os

pip install pyarrow

SyntaxError: invalid syntax (3798253663.py, line 1)

In [4]:
import polars as pl
df_pl=pl.read_parquet(r'D:\projects\use_case_3\data\sample1.parquet')
# df_pl.filter(
#     pl.col('column0') == 'Jorge'
# ).select('column1')
# df_pl.select(
#     pl.col('column0').is_null().all()
# )


df_pl.apply

df_pl.apply(
     lambda row: f"{row[0]} {row[0]}"
 )

C:\Users\Radwa.Abdallah\AppData\Local\Temp\ipykernel_17820\420390661.py:13: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_rows`.
  df_pl.apply(

shape: (101, 1)
┌─────────────────────┐
│ map                 │
│ ---                 │
│ str                 │
╞═════════════════════╡
│ first first         │
│ Jorge Jorge         │
│ Hunter Hunter       │
│ Esther Esther       │
│ Dennis Dennis       │
│ …                   │
│ Brett Brett         │
│ Adelaide Adelaide   │
│ Leo Leo             │
│ Samuel Samuel       │
│ Elizabeth Elizabeth │
└─────────────────────┘

In [6]:

df_pl

shape: (101, 2)
┌───────────┬──────────┐
│ column0   ┆ column1  │
│ ---       ┆ ---      │
│ str       ┆ str      │
╞═══════════╪══════════╡
│ first     ┆  last    │
│ Jorge     ┆ Frank    │
│ Hunter    ┆ Moreno   │
│ Esther    ┆ Guzman   │
│ Dennis    ┆ Stephens │
│ …         ┆ …        │
│ Brett     ┆ Miller   │
│ Adelaide  ┆ Phelps   │
│ Leo       ┆ Walters  │
│ Samuel    ┆ Schmidt  │
│ Elizabeth ┆ Gordon   │
└───────────┴──────────┘

In [8]:
from sqlalchemy import create_engine
server = 'BI-R-ABDALLAH'
database = 'MY_DATABASE'
username = 'sa'
password = 'P@ssw0rd@radwa'
driver = 'SQL Server'
conn_str = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

engine_base = create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}", use_setinputsizes=False)

In [12]:

df_pl.write_database(
    table_name='All_NAME',
    connection="mssql+pyodbc:///?odbc_connect={conn_str}",
    if_table_exists='replace',
    engine= create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}", use_setinputsizes=False)
)

ValueError: engine Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DBI-R-ABDALLAH%3BDATABASE%3DMY_DATABASE%3BUID%3Dsa%3BPWD%3DP%40ssw0rd%40radwa) is not supported