Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyodbc in c:\users\radwa.abdallah\appdata\roaming\python\python312\site-packages (5.1.0)

In [8]:
pip install polars 
pip install flask_sqlalchemy
from flask_sqlalchemy import SQLAlchemy
pip install pyodbc
import os

pip install pyarrow

SyntaxError: invalid syntax (3798253663.py, line 1)

In [22]:
import polars as pl
df_pl=pl.read_parquet(r'D:\projects\use_case_3\data\sample1.parquet')
# df_pl.filter(
#     pl.col('column0') == 'Jorge'
# ).select('column1')
# df_pl.select(
#     pl.col('column0').is_null().all()
# )


df_pl.apply

df_pl=df_pl.apply(
     lambda row: f"{row[0]} {row[0]}"
 )

C:\Users\Radwa.Abdallah\AppData\Local\Temp\ipykernel_14964\2704940735.py:13: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_rows`.
  df_pl=df_pl.apply(

In [24]:
import pyodbc
from sqlalchemy import create_engine
import urllib

In [23]:

df_panadas =df_pl.to_pandas()
df_panadas

                     map
0            first first
1            Jorge Jorge
2          Hunter Hunter
3          Esther Esther
4          Dennis Dennis
..                   ...
96           Brett Brett
97     Adelaide Adelaide
98               Leo Leo
99         Samuel Samuel
100  Elizabeth Elizabeth

[101 rows x 1 columns]

In [25]:
from sqlalchemy import create_engine
server = 'BI-R-ABDALLAH'
database = 'MY_DATABASE'
username = 'sa'
password = 'P@ssw0rd@radwa'
driver = 'SQL Server'
conn_str = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}", use_setinputsizes=False)

In [27]:

df_panadas.to_sql("All_names",engine,index=False,if_exists='replace')
print('done')

done